body{
    background-image: url(Screenshot\ \(48\).png);
}
a{
    display: inline;
    text-decoration: none;
}
.nav{
    word-spacing: 10px;
    position: absolute;
    top: 15pt;
    right: 100pt;
    margin-right: 15px;
}
a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt;
    color: rgb(0, 0, 0);
}
a:hover
{
    color: white;
}
.vid1{
    box-shadow: 20px 20px 40px;
    margin: 20px;
    border: solid;
    position: absolute;
    bottom: 10%;
    top: 10%;
    height: 30%;
    border-radius: 20px;
    background: white;
}
.p1 {
    position: absolute;
    bottom: 48.5%;
    right: 10%;
    left: 5%;
}
.vid2{
    box-shadow: 20px 20px 40px;
    margin:20px;
    border: solid;
    position: absolute;
    bottom: 10%;
    right: 45%;
    top: 10%;
    height: 30%;
    border-radius: 20px;
    background: white;
}
.p2{

        position: absolute;
        bottom: 48.5%;
        right: 20%;
        left: 30.5%;
    }


